// $font-sans: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
// Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
// $font-display: 'Londrina Solid', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
// Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$font-sans: -apple-system, sans-serif;
$font-display: -apple-system, sans-serif;

html,
body {
  padding: 0;
  margin: 0;
  // font-family: $font-sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: $font-sans, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0;
  width: 100%;
  max-width: 100% !important;
}

/* 
/////// 
*/

main {
  // background: hsla(28,100%,74%,0.1);
  background: white;
}
a {
  text-decoration: underline;
  font-weight: bold;
}

h1, h2 {
  font-weight: 900;
  font-family: 'Londrina Solid', cursive;
}
p, li{
  color: rgba(0,0,0,0.7);
}
ul {
  list-style-type: disc;
}
.button {
  text-decoration: none;
  background-color: #8A63D2 !important;
}
.external::after,
  .external::after
  {
    content: "";
    width: 11px;
    height: 11px;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }

/* Notion styling */
.notion-app {
  background: transparent !important;
  font-family: $font-sans;
  width: 100%;
  min-height: 0 !important;
  main {
    background: transparent;
  }
  .notion-header {
    display: none;
  }
  .notion-page-icon, .notion-title { 
    display: none !important;
  }
  .notion-page-no-cover {
    padding: 0 !important;
    margin: 0 !important;
  }
  summary::-webkit-details-marker {
    display: none;
  }
  // accordion styles
  details>summary {
    list-style: none;
    line-height: 1;
    gap: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  summary::-webkit-details-marker {
    display: none;
  }
  summary::before {
    content: '► ';
    line-height: 1;
  }
  details[open] summary:before {
    content: "▼ ";
    line-height: 1;
  }
  // child accordion styles
  details details summary {
    &:before {
      line-height: 1 !important;
    }
  }
  // Type styling
  .notion-h1 {
    font-size: 2rem;
    font-family: $font-display;
    margin-top: 0;
  }
  .notion-h2 {
    font-size: 1.5rem;
    font-family: $font-display;
    margin-top: 0;
  }
  .notion-page-scroller {
    min-height: fit-content;
  }
}

footer {
  background: hsla(28,100%,74%,0.1);
}